.menu{
	/*align-self:center;*/
	max-width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding : 5rem;
}

.glass{
	padding: 5rem;
	height:inherit;
	max-width: 60%;
	align-content: stretch;
	/*display: flex;*/
	align-items:top;
	background: white;
	backdrop-filter: blur(1rem);
	background: linear-gradient(
		to right bottom,
		rgba(255,255,255,0.3),
		rgba(255,255,255,0.1)
	);
	border-radius: 2rem;
	z-index: 2;
}

.circle1, 
.circle2{
	background: white;
	background: linear-gradient(
		to right bottom,
		rgba(255,255,255,0.3),
		rgba(255,255,255,0.1)
	);
	height: 15rem;
	width: 15rem;
	position: absolute;
	border-radius: 10rem;
	z-index: -1;
}

.circle1{

	top:2rem;
	right:10%;
}

.circle2{
	top: 60%;
	left: 15%;
}